<% provide :title, t(".title") %>

<div class="center jumbotron">
  <h1><%= t(".heading") %></h1>
  <h2>
    <%= t(".content") %>
    <%= link_to t(".book_name"), Settings.book_url %>
    <%= t(".app_description") %>.
  </h2>
    <%= link_to t(".signup_now"), "#", class: "btn btn-lg btn-primary" %>
</div>
